venv
.env

# IDEs
.idea
.vscode

## OS configs
.DS_Store

# Project
data/raw/raw_data.csv
data/processed/*
models/*
reports/confusion_matrix.png
reports/confusion_matrix_data.csv


# Python
**/__pycache__/
**/__init__.py
.ipynb_checkpoints
/raw
